<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'My_news' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="spinner-wrapper" *ngIf="isLoading && !newsItems?.length">
    <ion-spinner name="bubbles" ></ion-spinner>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content class="custom-spinner"></ion-refresher-content>
  </ion-refresher>

  <ion-list class="news-list">
    <div *ngFor="let newsItem of newsItems">
      <ion-item-sliding #slidingItem>
        <ion-item *ngIf="newsItem?.title" (click)="openItem(newsItem.link)">
          <div class="news-preview__block">
            <div class="bookmark-sign" *ngIf="newsItem?.bookmark">
              <ion-icon name="bookmark"></ion-icon>
            </div>
            <div class="news-preview__photo"
                [ngStyle]="{'background-image': 'url(' + newsItem.imgUrl + ')'}">
            </div>
            <div class="news-preview__content">
              <div>
                <div class="news-preview__title">
                  {{ newsItem?.title }}
                </div>
                <div class="news-preview__text">
                  {{ newsItem?.content }}
                </div>
              </div>
            
              <div class="source-time"> 
                <div class="source-link">
                  {{ newsItem?.link }}
                </div>
                <div class="time">
                  {{ newsItem?.pubdate | timeAgo }}
                </div>
              </div>
            </div>
          </div> 
        </ion-item>

        <ion-item-options side="start">
          <ion-item-option (click)="deleteNewsItem(newsItem.id)" color="danger">
            {{ 'Delete' | translate }}
          </ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option (click)="addToFavourites(slidingItem, newsItem.id)" color="secondary">
            {{ 'Add_to_favourites' | translate }}
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      
    </div>
  </ion-list>

  <ion-infinite-scroll threshold="10%" (ionInfinite)="loadData($event)" #infiniteScroll>
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
