<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'Sources' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="spinner-wrapper" *ngIf="isLoading && !userFeeds?.length">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <h2 *ngIf="!isLoading && !userFeeds?.length" class="info-message">
    {{ 'Choose_sources_please' | translate }}
  </h2>

  <ion-list class="feeds-list">
    <div *ngFor="let feed of userFeeds">
      <ion-item>
        <div class="feed__block">
          <div class="feed__photo"
            [ngStyle]="{'background-image': 'url(' + feed?.imgUrl + ')'}">
          </div>
          <div class="feed__content">
            <div class="feed__title">
              {{ feed?.name }}
            </div>
            <div class="feed__url">
              {{ feed?.url }}
            </div>
          </div>
        </div>
      </ion-item>
    </div>
  </ion-list>

  <div class="show-modal-button__wrap">
    <ion-button color="dark" expand="block" (click)="presentModal()">
      {{ 'Choose_sources' | translate }}
    </ion-button>
  </div>


</ion-content>