<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="my-feed-tab" color="dark">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>{{ 'My_news' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feeds-tab">
      <ion-icon name="logo-rss"></ion-icon>
      <ion-label>{{ 'Sources' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookmarks">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>{{ 'Bookmarks' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>{{ 'Settings' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
