<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'Bookmarks' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="spinner-wrapper" *ngIf="isLoading && !favouriteNews?.length">
    <ion-spinner name="bubbles" ></ion-spinner>
  </div>

  <ion-list class="news-list">
    <div *ngFor="let newsItem of favouriteNews">
      <ion-item-sliding>
        <ion-item (click)="openItem(newsItem.link)">
          <div class="news-preview__block">
            <div class="news-preview__photo"
                [ngStyle]="{'background-image': 'url(' + newsItem.imgUrl + ')'}">
            </div>
            <div class="news-preview__content">
              <div>
                <div class="news-preview__title">
                  {{ newsItem?.title }}
                </div>
                <div class="news-preview__text">
                  {{ newsItem?.content }}
                </div>
              </div>
            
              <div class="source-time"> 
                <div class="source-link">
                  {{ newsItem?.link }}
                </div>
                <div class="time">
                  {{ newsItem?.pubdate | timeAgo }}
                </div>
              </div>
            </div>
          </div> 
        </ion-item>

        <ion-item-options side="start">
          <ion-item-option (click)="deleteFromFavourites(newsItem.id)" color="danger">
            {{ 'Delete' | translate }}
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      
    </div>
  </ion-list>

  <ion-infinite-scroll threshold="10%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
