<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'Settings' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>
        Theme 
        <span>{{ themeIsDark ? 'light' : 'dark' }}</span>
      </ion-label>
      <ion-toggle color="dark"
                  [checked]="themeIsDark"
                  (ionChange)="toggleTheme()">
      </ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'Language' | translate }}</ion-label>
      <ion-select interface="popover"
                  [value]="currentLanguage"
                  (ionChange)="changeLang($event.target.value)">
        <div *ngFor="let lang of languages">
          <ion-select-option [value]="lang.value">
            {{ lang.label }}
          </ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    
    <ion-item (click)="shareAppLink()">
      <ion-label>{{ 'Share' | translate }}</ion-label>
      <ion-icon name="share-outline"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
