<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="cross-btn" fill="clear">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>News UA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #frame *ngIf="link" class="scroll-content">
    <iframe src="linkURL" allowfullscreen  class="iframe"></iframe>
  </div>
</ion-content>
