/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



:root {
    --background-primary: #fff;
    --background-secondary: #fff;

    --color-primary: #000;
    --color-secondary: #777;

    --color-button-selected: #004b77;
    --color-button: rgb(102, 102, 102);

    ion-content, ion-list, ion-item, ion-tabs, ion-tab-bar {
        --background: var(--background-primary);
        background: var(--background-primary);
        color: var(--color-primary);
    }

    h2 {
        color: var(--color-primary);
    }

    ion-header, ion-toolbar {
        color: var(--color-primary);
        --background: var(--background-secondary);
        background: var(--background-secondary);
    }

    ion-tab-button {
        --color: var(--color-button);
        --color-selected: var(--color-button-selected);
    }
}


.feeds-list {
    padding-top: 0;
    padding-bottom: 0;
    
    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
    }
    .feed__block {
        padding: 8px 26px 8px 8px;
        display: flex;
        align-items: center;
        flex-grow: 1;

    }

    .feed__photo {
        height: 50px;
        width: 50px;
        min-height: 50px;
        min-width: 50px;
        border-radius: 50%;
        background-position: center center;
        background-size: cover;
        margin-right: 12px;
    }
    .feed__title {
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        min-width: 0; 
    }
    .feed__url {
        color: #777;
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.news-list {
    --block-height: 92px;
    --lh: 1.1rem;

    ion-list {
        padding-top: 0;
        padding-bottom: 0;
    }
    ion-item {
        --padding-start: 0;
    }

    .news-preview__block {
        padding: 8px;
        display: flex;
        height: var(--block-height);
        width: calc(100vw - 10px);
        position: relative;
        

        .bookmark-sign {
            position: absolute;
            top: 8px;
            right: 8px;

            ion-icon {
                font-size: 30px;
                color: rgb(204, 0, 0);
            }
        }

        .news-preview__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 2px;
            min-width: 0;
            flex-grow: 1;
        }

        .news-preview__photo {
            height: 75px;
            min-height: 75px;
            width: 75px;
            min-width: 75px;
            border-radius: 8px;
            background-position:  center center;
            background-size: cover;
            margin-right: 8px;
        }

        .news-preview__title {
            --max-lines: 2;
            line-height: var(--lh);
            font-size: 15px;
            height: calc(var(--lh) * var(--max-lines));
            overflow: hidden;
            margin-bottom: 3px;
            padding-right: 38px;
        }

        .news-preview__text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            // color: #777;
            color: var(--color-secondary);
            font-size: 13px;
        }
        .source-time {
            display: flex;
            justify-content: space-between;
            // color: #777;
            color: var(--color-secondary);
            font-size: 12px;

            .source-link {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-right: 20px;
                line-height: 16px;
                height: 16px;
            }
            .time {
                white-space: nowrap;
            }
        }
    }
}

