<ion-header>
  <ion-toolbar>
   
      <ion-buttons slot="start">
        <ion-button (click)="dismiss()" class="cross-btn" fill="clear">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Всі джерела</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="feeds-list">
    <div *ngFor="let feed of feeds">
      <ion-item>
        <div class="feed__block feed__block-w-checkbox">
          <div class="feed__info">
            <div class="feed__photo"
              [ngStyle]="{'background-image': 'url(' + feed.imgUrl + ')'}">
            </div>
            <div class="feed__content">
              <div class="feed__title">
                {{ feed.name }}
              </div>
              <div class="feed__url">
                {{ feed.url }}
              </div>
            </div>
          </div>
          <div class="checkbox__wrap">
            <ion-checkbox color="dark"
                      [checked]="feed.selected"
                      (ionChange)="toggleFeed($event.detail.checked, feed.id)">
            </ion-checkbox>
          </div>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="save-button__wrap">
      <ion-button color="dark" expand="block" (click)="save()">
        Зберегти
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
