:host {
    .all-feeds-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 26px 8px 4px;

        .cross-btn {
            color: #000;
            --color: #000;
        }

        ion-title {
            padding-inline-start: 13px;
        }
    }

    .feed__block.feed__block-w-checkbox {
        justify-content: space-between;
        flex: 1;
        width: calc(100vw - 10px);
    }

    .feed__info {
        display: flex;
        align-items: center;
        overflow: hidden;
        min-width: 0; 
    }

    .checkbox__wrap {
        padding-left: 20px;
    }

    .save-button__wrap {
        padding: 0 16px;
    }
}